body {
	background-color: #10131e;
	font-family: Jost, sans-serif;
	line-height: 1.3em;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: white;
}

footer a {
	text-decoration: underline;
}

footer {
	font-size: 0.8em;
}

img {
	width: 162.2px;
	height: 162.2px;
}

@media screen and (max-width: 576px) {
	body {
		font-size: 12px;
	}

	img {
		width: 130px;
		height: 130px;
	}
}
